// ./src/styles/styles.scss

// Global background color
body,
html {
  margin: 0;
  padding: 0;
  background-color: #333333; // Dark grey background
  color: white; // Ensure text remains visible
  height: 100%;
}

// Styling for the Toolbar and Checkbox
.Toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: transparent; // Transparent background
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  // Style the Material-UI Checkbox
  .MuiCheckbox-root {
    color: white !important; // White outline and checkmark
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1); // Light white tint on hover
    }
  }

  .Mui-checked {
    color: white !important; // Checked state in white
  }
}

.MuiFormControlLabel-label {
  color: white !important;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 12px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

.Settings {
  position: fixed;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 8px;
  border-radius: 4px;

  background-color: transparent;

  * {
    color: white;
    border-color: white;
  }

  .MuiOutlinedInput-root {
    fieldset {
      border-color: white;
    }
    &:hover fieldset {
      border-color: white;
    }
    &.Mui-focused fieldset {
      border-color: white;
    }
  }

  .MuiInputLabel-root {
    color: white;
  }
}
